.git
.gitignore
.DS_Store

frontend/node_modules
frontend/dist
backend/venv
backend/.pytest_cache
backend/.env
frontend/.env

**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd

backend/data/chat_history.db
backend/data/chat
backend/data/notebook
backend/data/custom_tools/arxiv_translate
backend/logs

npm-debug.log
yarn-error.log
pnpm-debug.log
